{% extends "base.html" %} 
{% block title %}Профиль пользователя{% endblock %}

{% block content %}

    <main role="main" class="container px-0">

        <div class="row mt-3">
            
            <div class="col">

                    {% for post in page %}
                        {% include "include/post_item.html" with post=post %}
                    {% endfor %}

                <div class="card mb-4 mt-2 pt-3 shadow-sm" >
                    {% include "include/paginator.html" with items=page %}
                </div>

            </div>

            <div class="col" style="max-width: 250px;">
                <div class="row mb-4">
                    {% if user.is_authenticated %}
                        {% include 'include/card.html' %}
                    {% endif %}
                </div>

                <div class="row px-0">
                        {% include 'include/groups_card.html' %}
                </div>
            </div>

        </div>

    </main>

{% endblock %}
