{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}

{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-4">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="h3">Об авторе</div>
                            </li>
                            <li class="list-group-item">
                                <div class="h6 text-muted">Alex Voitekhovich</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="card-text">
                        <p>
                            Гений, миллиардер, плейбой, филантроп... 
                        </p>
                        <p>
                            {% load static %}
                            <img src="{% static 'stark.jpg' %}" alt="Тони Старк"  width=450px>
                        </p>
                        <p>
                            А ещё студент онлайн курса по <a href="https://www.python.org/">Python</a> от <a href="https://praktikum.yandex.ru/">Яндекс Практикум</a> - Когорта 14.<br>
                            В разработку шел долго и путями похожими на <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%B4_(%D0%91%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BA%D0%BE%D0%BC%D0%B5%D0%B4%D0%B8%D1%8F)#/media/%D0%A4%D0%B0%D0%B9%D0%BB:Botticelli_ChartOfDantesHell.jpg">круги Ада</a>. 
                            Знакомство с кодом началось в далёкие школьниые времена, на одном из предметов, название которого состояло из набора символов похожих на "Информатика". 
                            Тогда я узнал что такое код, но как из него сделать программу ещё не понимал. Затем настали времена колледжа с целенаправленным выбор специальности техника-программиста. Вот тогда я и понял, что если взять IDE, нашенковать Базу Данных и засыпать всё это кучей кода, то можно приготовить что-то похожее на программу.
                            После продолжил обучение в высшем учебном завидениее, где не изучил ничего нового.
                        </p>
                        <p>
                            За время знакомства с программированием, удалось испытать на практике такие языки как C#, который был прост и единсвенным адекватным для создания программ под одну из самый известных платформ - Окна (в дословном переводе на русский).
                            Были попытки изучить Java - универсальный, кросплатформенные, один раз напишешь код и он заработает везде<del>, говорили они</del>.
                        </p>
                        <p>
                            В итоге пришло время остепенится и что-то изучить конкретное, и выбор пал на Python. Просто потому что популярный, простой и для всего - отлично подходит для интернет технологий, искуственного интелекта, написания скриптов, управления умными вещами. 
                        </p>
                        <p>
                            Мой <a href="https://github.com/voitekhovich">github</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
