<div class="card mt-2">
    <div class="card-body">
        <div class="h4">
            {{ author.get_full_name}}
        </div>
        <div class="h5 text-muted">
            <a href="{% url 'profile' author.username %}">@{{ author.username }}</a>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">
                Подписчиков: {{ author.following.count }} <br />
                Подписан: {{ author.follower.count }}
            </div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">
                Записей: {{ author.posts.count }}
            </div>
        </li>
        <li class="list-group-item">
            {% if following %}
                <a class="btn btn-sm btn-light" 
                    href="{% url 'profile_unfollow' author.username %}" role="button"> 
                    Отписаться 
                </a> 
            {% else %}
                <a class="btn btn-sm btn-primary" 
                    href="{% url 'profile_follow' author.username %}" role="button">
                    Подписаться 
                </a>
            {% endif %}
        </li> 
    </ul>
</div>
